
html {
    margin: 0;
}

body {
    margin-top: 20vh;
    margin-left: 15rem ;
    margin-right: 15rem ;
    font-size: 18px;
}

.wrapper {
    display: grid;
   

}

h1{
    font-family: Big Shoulders Display;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    padding-top: 1rem;
    padding-right: 0;
    
}

p{
    font-family: Lexend Deca;
    font-weight: 400;
    color:hsla(0, 0%, 100%, 0.75);
    padding-top: 1rem;
}

.btn {
 margin-top: 4rem;
 color: hsl(0, 0%, 95%);
 
    
}

button {
    border: 1px solid transparent;
    border-radius: 2rem;
    font-family: Lexend Deca ;
    font-weight: 400;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    cursor: pointer;
    
}
button:hover {
    
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
    
}

#txt1:hover , #txt2:hover , #txt3:hover {
    color: hsl(0, 0%, 95%);


}


.card1 {
    background-color:  hsl(31, 77%, 52%);
    grid-column: 1;
    
}
#txt1 {
    color: hsl(31, 77%, 52%);

}

.card2 {
    background-color: hsl(184, 100%, 22%) ;
    grid-column: 2;

}
#txt2 {
    color: hsl(184, 100%, 22%);
    
}

.card3 {
    background-color: hsl(179, 100%, 13%) ;
    grid-column: 3;
    

}
#txt3 {
    color: hsl(179, 100%, 13%) ;
}

.card1 , .card2 , .card3 {
    padding: 2rem 2rem 2rem 2rem;
}

.attribution {
    font-size: large;
}

@media only screen and (max-width: 768px){
    .wrapper{
         grid-template-columns: 1fr ;
         width: 100%;
         margin: 0;
    }
}


